__pycache__/
*.py[cod]
*.log
.DS_Store

.idea/
.vscode/
.trae/

env_py310/
.venv/
venv/
libs_manual/
libs_dl/

backend/__pycache__/
backend/app/__pycache__/
backend/datasets/
backend/runs/
backend/libs_manual/
backend/scripts/

dist/
build/
artifacts/

python-*-embed-*.zip
python_installer.exe

runs/

*.bat
version.txt
version.nsh
test*.jpg
test*.py
check_*.py
download_*.py
setup_env.py

testds.zip
trigger_*.py
fix_*.py
yolov8n.pt
